main {
  margin-top: 9rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
