.symbol {
  font-weight: 600;
  font-size: 1.25rem;
}
article {
  background-color: #4c2c59;
  color: #f5e8da;
  padding: 3rem 2rem;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}
.box1 {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.box2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.rank {
  font-size: 1.25rem;
  border: 1px solid #f5e8da;
  width: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
